<!--END: Main body content-->
<div class="clearfix"></div>
</div>
<footer>
    <!--BEGIN: footer-->
    <div class="row">
        <div class="medium-12 columns text-center p-14x"> &copy; 2015, NITETIL, All Rights Reserved. </div>
    </div>
</footer>
<!--END: Footer-->
<nav id="mobile_menu">
    <!--Left content Start-->
    <div class="left-content ">
        <div class="profile-pic bg-white"> <img src="images/profile-pic.jpg" alt="profile-pic" />
            <div class="profile-detail">
                <p class="name text-white font-16x">MALINDA HOLLAWAY</p>
                <p class="desig text-white font-13x">Web/UI Developer, Dubai, UAE</p>
            </div>
        </div>
        <!--Follower Start-->
        <div class="follower fl  text-white">
            <div><img src="images/follower.png" alt="follower" /></div>
            <div class="follower-label">FOLLOWERS</div>
            <div class="num">50</div>
        </div>
        <!--Follower End-->

        <!--Following Start-->
        <div class="following fl  text-white">
            <div><img src="images/following-icon.png" alt="follower" /></div>
            <div class="following-label">FOLLOWING</div>
            <div class="num text-white">345</div>
        </div>
        <!--Following End-->
        <div class="clearfix"></div>
        <ul>
            <li><a href="javascript:void(0)" class="popular">Popular Post</a></li>
            <li><a href="javascript:void(0)" class="interest">Interest</a></li>
            <li><a href="javascript:void(0)" class="hot">Hot or Not</a></li>
            <li><a href="javascript:void(0)" class="timeline">Timeline</a></li>
            <li><a href="javascript:void(0)" class="poll">Poll Question</a></li>
            <li><a href="javascript:void(0)" class="vent">Vent</a></li>
        </ul>
    </div>
    <!--Left content end-->
</nav>