<div id="wrapper">
    <header>
        <!--BEGIN: Header-->
        <a href="#mobile_menu" class="menu-icon" aria-expanded="false"> <span></span> </a>
        <div class="row">
            <div class="medium-2 small-11 column text-center-device">
                <a href="index.html" class="logo" title="Nitetil"><img src="images/logo.png" /></a>
            </div>
            <div class="medium-4 small-1 column text-right">
                <!--BEGIN: Navigation-->
                <a href="#" class="edit" title="Edit"><i class="fa fa-pencil-square-o"></i></a> </div>
            <!--END: Navigation-->
            <div class="medium-5 small-12 column">
                <ul class="nav-userinfo fr">
                    <!--BEGIN: Nav-userinfo-->
                    <li>
                        <a href="javascript:void(0)" title="Home" class="top-home"></a>
                    </li>
                    <li class="notification">
                        <a href="javascript:void(0)" title="Notification" class="top-notification"></a><span class="notify-count  h-12x">2</span></li>
                    <li>
                        <a href="javascript:void(0)" title="Search" class="top-search"></a>
                    </li>
                    <li class="sep"><span>|</span></li>
                    <li class="user"> <span><img src="images/user.jpg" alt="User Search"/></span> <a href="javascript:void(0)">Carolyn Mason&nbsp;<i class="fa fa-chevron-down"></i></a>
                        <ul>
                            <li>
                                <a href="#"> <i class="fa fa-user"></i>&nbsp;Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-question"></i>&nbsp;Help</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
                        </ul>
                    </li>
                    <li class="sep"><span>|</span></li>
                    <li>
                        <a href="javascript:void(0)" title="Setting" class="setting"></a>
                    </li>
                </ul>
                <!--END: Nav-userinfo-->
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!--END: Header-->